
<!DOCTYPE html>
<html>

<meta charset="UTF-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="This is social network html5 template available in themeforest......" />
<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
<meta name="robots" content="index, follow" />
<title>Friend Finder | A Complete Social Network Template</title>
<link rel="shortcut icon" type="image/png" href="{{ asset('a.jpg') }}"/>
<!-- Stylesheets
================================================= -->
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />

<!--Google Font-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" type="image/png" href="{{ asset('images/fav.png') }}"/>

<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet'">


<!-- Custom styles for this template -->
<link href="{{ asset('css1/shop-homepage.css') }}" rel="stylesheet">
<link href="{{ asset('img/favicon.png') }}" rel="icon">
<link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">
<!-- GoogleFonts -->
<link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700') }}" rel="stylesheet">
<!-- Bootstrap CSS File -->
<link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Libraries CSS Files -->
<link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
<!-- Main Stylesheet File -->
<link href="{{ asset('css1/style.css') }}" rel="stylesheet">
<script src="{{ asset('js1/jquery-3.3.1.js') }}"></script>

<div id="lp-register"> <!-- hedhi id mta image min teli nal9awha f style.css -->
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <div class="intro-texts">
                    <h1 class="text-white">Make Cool Friends !!!</h1>
                    <p>WorldFriendship is a social network that can be used to connect people. The site offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>
                    <button class="btn btn-primary">Learn More</button>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">

                    <!-- Register/Login Tabs-->
                    <div class="reg-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                            <li><a href="#login" data-toggle="tab">Login</a></li>
                        </ul><!--Tabs End-->
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">
                            <h1 class="text-primary"> Register Now !!!</h1>
                            <p class="text-muted">Be cool and join today. Meet millions</p>

                            {% block fos_user_content %}
                                {% include "@FOSUser/Registration/register_content.html.twig" %}
                            {% endblock fos_user_content %}

                       </div>
                    </div>
                </div>
            </div></div>
    </div>
</div>

================================================= -->

<!-- Scripts
================================================= -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.appear.min.js') }}"></script>
<script src="{{ asset('js/jquery.incremental-counter.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>

</body>
</html>

