{% extends "base.html.twig" %}
{% block Affichervente %}

    <div id="top-header">
        <div class="container">
            <nav id="nav-menu-container">
                <ul class="nav-menu">

                    <li class="menu-active"><a href="http://127.0.0.1:8000/client/home1">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/profile/">Profile</a></li>

                    <li> <a class="" href="http://127.0.0.1:8000/client/ven/afficherPTOUS" data-toggle=""> Vente</a>

                    </li>

                    <li> <a class="" href="http://127.0.0.1:8000/client/eve/AfficherEvent" data-toggle=""> Evenement </a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/client/eve/AfficherEvent">Afficher les listes des evenements </a></li>
                            <li><a href="http://127.0.0.1:8000/client/eve/AjouteEvent">Ajouter un evenement </a></li>
                        </ul>
                    </li>

                    <li> <a class="" href="http://127.0.0.1:8000/client/pub/affichepublicite" data-toggle=""> Récommendation</a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/client/pub/ajoutpublicite">Ajouter un produit</a></li>
                            <li><a href="http://127.0.0.1:8000/client/pub/affichepublicite">Rechercher produit</a></li>
                        </ul></li>
                    </li>

                    <li><a href="http://127.0.0.1:8000/logout">Se DeConnecter</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/dash">Admin</a></li>
                </ul>
            </nav>



        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">
            <!--div class="">
                    <a class="dropdown-item" href="{{ path('gestion_vente_Afficher_produit') }} "> <span class="glyphicon glyphicon-eye-open"></span>Consulter la liste des Produits</a>
                <br>
                     <a id="ajt" class="dropdown-item" href="{{ path ("gestion_vente_Ajouter_produit1") }}"><span class="glyphicon glyphicon-plus"></span>Ajouter un Produit</a>
<BR>
                    <a id="ajt" class="dropdown-item" href="{{ path ("gestion_vente_Rechercher_produit") }}"><span class="glyphicon glyphicon-search"></span>Rechercher un Produit</a>


                </div-->
<a href="{{ path('gestion_vente_Aj_Nv_produit') }}"> <span class="glyphicon-plus"></span> Ajouter ton Nouveau Produit </a>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div id="carousel-appdev" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-appdev" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-appdev" data-slide-to="1"></li>
                    <li data-target="#carousel-appdev" data-slide-to="2"></li>
                    <li data-target="#carousel-appdev" data-slide-to="3"></li>
                    <li data-target="#carousel-appdev" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ asset('images/config1jpg.jpg') }}" alt="apprendre drupal8" width="700" height="600">
                        <div class="carousel-caption">
                            <h1>      BIENVENU SUR NOTRE SITE WORLDFRIENDSHIP</h1>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ asset('images/configg.png') }}" alt="apprendre gimp" width="700" height="600">
                        <div class="carousel-caption">
                            <H1>    <I>   BIENVENU SUR NOTRE SITE WORLDFRIENDSHIP </I></H1>

                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ asset('images/conf.jpg') }}" alt="apprendre laravel" width="700" height="600">
                        <div class="carousel-caption">
                            <H1>    <I>   BIENVENU SUR NOTRE SITE WORLDFRIENDSHIP </I></H1>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">


            {% for valeur in EVE %}


                <div class="col-lg-9 col-md-6 mb-4">
                    <div class="card h-100">
                        <!--a href="#">    <span class="glyphicon glyphicon-heart "style="color:darkred;font-size: 35px" >
</span> </a-->
                        <div class="card-header">
                            <a href="{{ path('gestion_vente_Modif_produit',{'idproduit':valeur.idproduit}) }}">
                                   <span  CLASS="glyphicon glyphicon-cog" style="color:rebeccapurple;font-size: 35px" >

                                   </span></a>
                            <a href="{{ path('gestion_vente_Supprimer_produit',{'idproduit':valeur.idproduit})}}">
                                   <span  CLASS="glyphicon glyphicon-remove position-static" style="color:rebeccapurple;font-size: 35px;right:20px" >

                                   </span></a>
                        </div>

                        <div class="listing-item">
                            <img src="{{ asset('images/') }}{{ valeur.nomimage }}" alt=""style="width: 410px;height:250px" class="background ">

                            <div class="card-body">

                                <a href="{{ path('gestion_vente_Modif_MesProd_produit',{'idproduit':valeur.idproduit}) }}">  <h4 class="card-title">{{ valeur.nomproduit }}</h4></a>

                                <h5>{{ valeur.Prix }}TND</h5>

                                <p class="card-text">{{ valeur.descriptionproduit }}.</p>


                            </div>
                            <div class="card-footer">
                                <a href="{{ path('gestion_vente_Supprimer_produit',{'idproduit':valeur.idproduit})   }}" >Annuler</a>
                                <a href="{{ path('gestion_vente_Supprimer_produit',{'idproduit':valeur.idproduit})   }}" >Modifier</a>

                            </div>


                        </div>
                    </div>
                </div>

            {% endfor %}


            </div>
            <!-- /.row -->


        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
    <!-- /.container -->


{% endblock %}
